:root {
    --brightRed: hsl(12, 88%, 59%);
    --darkBlue: hsl(228, 39%, 23%);

    --darkGrayishBlue: hsl(227, 12%, 61%);
    --veryDarkBlue: hsl(233, 12%, 13%);
    --veryPaleRed: hsl(13, 100%, 96%);
    --veryLightGray: hsl(0, 0%, 98%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img,
picture {
    max-width: 100%;
    display: block;
}

h2,
h3,
h4 {
    color: var(--darkBlue);
    line-height: 1.25;
}

body {
    background-image: url(./images/bg-tablet-pattern.svg), url(./images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: 117.5%, 90%;
    background-position: top -6rem right -8em, top 70vh right -13em;
    color: var(--darkGrayishBlue);

    font-family: 'Be Vietnam Pro', sans-serif;
    line-height: 1.7;
    margin: 0 1.5rem;
    text-align: center;
    overflow-x: hidden;
}

.start-link,
main a {
    background-color: var(--brightRed);
    border-radius: 2.5rem;
    color: var(--veryLightGray);
    display: inline-block;

    font-size: .8rem;
    font-weight: 700;
    margin: 1rem;
    padding: 0.75rem 2.25rem;
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: transparent;
    min-width: 100%;
    padding: 1.75rem 0;
}

.header a {
    color: var(--veryLightGray);
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: 500;
}

.header nav,
.header .start-link {
    display: none;
}

.header-nav,
.header-nav li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav li {
    list-style: none;
    margin: 0 .5rem;
}

.header-nav a {
    color: var(--darkBlue);
    height: 100%;
}

.hero-section {
    display: flex;
    flex-direction: column;
}

.hero-section h2 {
    font-size: 2.3rem;
    margin: 0.5rem 0;
}

.hero-section p {
    font-size: 1rem;
    margin: 0.75rem 0;
}

.features-intro {
    margin: 3rem 0;
}

h3 {
    font-size: 1.85rem;
    padding: 1.5rem;
    line-height: 1.4;
}

.features-intro p {
    font-size: 0.9rem;
    padding: 0 1em;
    line-height: 1.85;
}

.feature {
    font-size: .9rem;
    margin: 3rem 0rem;
    text-align: left;
}

.feature p {
    line-height: 2;
    font-size: .88rem;
}

.feature-title {
    display: flex;
    align-items: center;
    background-color: var(--veryPaleRed);
    border-radius: 1.5rem 0 0 1.5rem;
    margin: .5rem -1.5rem 0.75rem 0;
}

.feature-title span {
    background-color: var(--brightRed);
    border-radius: 1.5rem;
    color: var(--veryLightGray);
    font-weight: 500;
    padding: 0.4rem 1.35rem;
    margin-right: 1rem;
}

.feature-title h4 {
    font-size: 1rem;
    letter-spacing: -1px;
}

.slide {
    display: none;
    background-color: var(--veryLightGray);
    position: relative;
    padding: 3rem 0;
}

.slide img {
    width: 5rem;
    border-radius: 50%;
    margin: 1rem 0;
    position: absolute;
    top: -3.5rem;
}

.slide p {
    font-size: .9rem;
    margin: 1.5rem 0 0;
    padding: 0 1rem;
}

.slide.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.dots-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dots {
    border: 1px solid var(--brightRed);
    border-radius: 50%;
    cursor: pointer;
    margin: 0 2px 0rem;
    width: 8px;
    height: 8px;
}

.dots.selected {
    background-color: var(--brightRed);
}

.testimonial-section h4 {
    margin: .5rem 0 .25rem;
}

.testimonial-section a {
    margin: 3rem 0;
}

.simplify-section {
    background-color: var(--brightRed);
    margin: 0 -1.5rem;
    padding: 5rem 0;
    position: relative;
}

.pattern-one,
.pattern-two {
    display: none;
}

.simplify-section .mobile-pattern {
    position: absolute;
    top: 15%;
}

.simplify-section h3 {
    color: var(--veryLightGray);
    font-size: 2.5rem;
    line-height: 1.3;
    padding: 1rem;
}

.simplify-section a {
    color: var(--brightRed);
    background-color: var(--veryLightGray);
    padding: 0.65rem 1.75rem;
}

footer {
    background-color: var(--veryDarkBlue);
    display: flex;
    flex-direction: column;
    margin: 0 -1.5rem;
    text-align: center;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 3.5rem;
    text-align: left;
}

.update-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 2.5rem 0;
}

.update-form input {
    height: 2.5rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    padding: 0 2rem;
}

.update-form button {
    background-color: var(--brightRed);
    border: none;
    border-radius: 2rem;
    color: var(--veryLightGray);
    font-size: .75rem;
    margin: 0 .5rem;
    padding: 0 1.85rem;
    text-transform: uppercase;
}

.footer-nav ul {
    list-style: none;
}

.footer-nav li {
    font-size: .9rem;
    margin: .75rem 0;
}

.footer-nav a {
    color: var(--veryLightGray);
    text-decoration: none;
}

.socials-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.socials-container img {
    margin: 1rem 0;
    width: 2rem;
}

.footer-logo {
    margin: 2.5rem auto 3rem;
    width: 42.5%;
}

.footer p {
    font-size: 0.75rem;
    margin: 1rem 0;
}

@media screen and (min-width: 768px) {
    body {
        background-size: 52.5%, 40%;
        background-position: top -8.5rem right -5em, top 140vh left -16em;
        margin: 0 2.25rem;
    }

    .header nav,
    .header .start-link {
        display: block;
    }

    .menu-button {
        display: none;
    }

    .hero-section img {
        margin: auto;
        width: 80%;
    }

    .hero-section article,
    .features-intro {
        padding: 1rem 6rem;
    }

    .features-section {
        padding: 0 1rem;
    }

    .feature {
        font-size: 1rem;
        margin: 3rem -0.5rem;
    }

    .feature p {
        font-size: .9rem;
    }

    .feature-title {
        margin: .5rem -3rem 0.75rem 0;
    }

    .simplify-section,
    footer {
        margin: 0 -2.5rem;
    }
}

@media screen and (min-width: 1024px) {

    body {
        background-position: top -8.5rem right -5em, top 155vh left -16em;
        margin: 0 8.25rem;
    }

    .header a {
        font-size: 0.85rem;
        font-weight: 500;
    }

    .hero-section {
        display: flex;
        flex-direction: row-reverse;
        margin: 3rem 0 0 0;
        text-align: left;
    }

    .hero-section article {
        padding: 0;
    }

    .hero-section img {
        margin: auto;
        width: 60%;
    }

    .hero-section h2 {
        font-size: 3.1rem;
        margin: 2rem 0;
    }

    .hero-section p {
        padding: 0 2rem 0 0;
        max-width: 27.5vw;
    }

    .hero-section .start-link {
        margin: 2.5rem 0;
    }

    .features-container {
        display: flex;
        text-align: left;
        margin: 2rem 0;
    }

    .features-intro {
        padding: 0;
        width: 100%;
    }

    .features-intro h3 {
        font-size: 2.25rem;
        padding: 0;
    }

    .features-intro p {
        font-size: 1rem;
        margin: 2rem 0;
        max-width: 27.5vw;
        padding: 0 1rem 0 0;
    }

    .feature-title {
        background-color: transparent;
        margin: 0;
    }

    .features-section {
        width: 90%;
    }

    .feature p {
        padding: 0 0 0 4.8rem;
    }

    .testimonial-carousel {
        display: flex;
        height: 25rem;
        margin: 0 -8.25rem;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    .slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 40vw;
        height: 56.5%;
        transition: all 1.5s ease-in;
    }

    .slide.selected {
        transform: translateX(0vw);
        transition: all 1.5s ease-in;
    }

    .simplify-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 -8.25rem;
        padding: 3rem 8.25rem;
        position: relative;
        overflow: hidden;
    }

    .simplify-section .mobile-pattern {
        display: none;
    }

    .pattern-one,
    .pattern-two {
        display: block;
        position: absolute;
        width: 35rem;
        opacity: 0.1;
    }

    .pattern-one {
        top: -2.5rem;
        left: 10rem;
    }

    .pattern-two {
        top: -25.5rem;
        right: -21.5rem;
    }

    .simplify-section h3 {
        font-size: 2.35rem;
        text-align: left;
        padding: 1rem 0;
        width: 45%;
    }

    .simplify-section a:hover {
        height: 100%;
        /* background-color: var(--brightRed);
        color: var(--veryLightGray); */
    }

    footer {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 0 -8.25rem;
        padding: 4rem 8.25rem;
        text-align: center;
        position: relative;
    }

    .footer-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        text-align: left;
        width: 35%;
    }

    .footer-nav li {
        font-size: 0.85rem;
        margin: 0 0 0.75rem ;
    }

    .footer-nav li:last-child {
        margin: 0;
    }

    .update-form {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        width: 30%;
        margin: 0;
    }

    .update-form input {
        height: 2.25rem;
        width: 85%;
        padding: 0 1rem;
    }

    .update-form button {
        font-size: .7rem;
        margin: 0 0.5rem;
        height: 2.25rem;
        padding: .1rem 1.5rem 0;
        text-transform: capitalize;
    }    

    .company-media {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .socials-container img {
        margin: 0 .5rem 0 0;
        width: 1.1rem;
    }

    .socials-container img:last-child {
        margin: 0;
    }

    .footer-logo {
        margin: 0;
        width: 100%;
    }

    .footer p {
        position: absolute;
        align-self: flex-end;
        font-size: 0.75rem;
        margin: 0;
    }
}